body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffffb4;
}

section {
    padding: 50px 20px;
}

section h2 {
    text-align: center;
}

section ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: #ffffff93;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}